{% extends 'base.html.twig' %}

{% block title %}Profil index{% endblock %}

{% block body %}
    <h1>Profil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Image</th>
                <th>Age</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
            <tr>
                <td>{{ profil.username }}</td>
                <td>{{ profil.image }}</td>
                <td>{{ profil.age }}</td>
                <td>{{ profil.role }}</td>
                <td>
                    <a href="{{ path('app_profil_show', {'id': profil.id}) }}">show</a>
                    <a href="{{ path('app_profil_edit', {'id': profil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   {# <a href="{{ path('app_profil_new') }}">Create new</a>#}
{% endblock %}
